/*This file contains the differents components*/

/*All links*/
a{
    text-decoration: none;
    color: inherit;
}

/*All paragraphs*/
p{
    margin: auto;
    padding: 10px;
}

/*For buttons (having .btn classe)*/
.btn{
    height: auto;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    border-radius: 3px / 3px;
    transition: opacity 0.3s linear;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.61) ;
}

/*Stylized blockquote*/
blockquote{
    border-left: 5px solid rgb(212, 83, 83);
    padding-left: 15px;
    text-align: left;
}

/*Initial input layout*/
input{
    width: auto;
    height: auto;
    font-size: 1.4em;
    padding-left: 10px;
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

/*Text input layout*/
input[type=text]{
    width: auto;
    height: auto;
    font-size: 1.4em;
    padding-left: 10px;
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

/*Password input layout*/
input[type=password]{
    width: auto;
    height: auto;
    font-size: 1.4em;
    padding-left: 10px;
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

/*labels layout*/
label{
    margin-top: 10px;
    font-size: 1.2em;
}

/*Submit buttons layout*/
input[type=submit]{
    width: auto;
    font-size: 1.2em;
    border: none;
    border-bottom: teal 1px solid;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

/*Textareas layout*/
textarea{
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    min-width: 300px;
    padding-left: 10px;
    outline: none;
    font-size: 1.2em;
    min-Height: 200px;
    border-left: 1px teal solid;
    margin-left: 5px;
}

/*Checkboxes layout*/
input[type=checkbox]{
    margin-top: 10px;
    display: none;
}

/*Fake checkbox elements layout*/
span.fake-checkbox{
    margin-top: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px teal solid;
    transition: color 1s ease-in;
}
span.fake-checkbox:hover{
    opacity: 0.8;
}
span.fake-checkbox-checked{
    background-color: rgb(58, 207, 207); 
}

/*Radios input layouts*/
input[type=radio]{
    margin-top: 10px;
    display: none;
}

/*Fake Radio elements layouts*/ 
span.fake-radio{
    margin-top: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px teal solid;
    transition: color 1s ease-in;
    border-radius: 12px/12px;
}
span.fake-radio:hover{
    opacity: 0.8;
}
span.fake-radio-checked{
    background-color: rgb(58, 207, 207); 
}

/*File input elements layout*/
input[type=file]{
    margin-top: 10px;
    display: none;
}
.file-name{
    border-bottom: 1px teal solid;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

/*Date input layout*/
input[type=date]{
    width: auto;
    height: auto;
    font-size: 1.4em;
    padding-left: 10px;
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

/*Email input layout*/
input[type=email]{
    width: auto;
    height: auto;
    font-size: 1.4em;
    padding-left: 10px;
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

/*Tel input layout*/
input[type=tel]{
    width: auto;
    height: auto;
    font-size: 1.4em;
    padding-left: 10px;
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

/*Button input layout*/
input[type=button]{
    width: auto;
    height: auto;
    font-size: 1.4em;
    padding-left: 10px;
    border: none;
    border-bottom: teal 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

/*---------------NAVBAR----------------*/
/*The main navbar layout*/
.navbar{
    height: 80px;
    font-family: cursive;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.61) ;
    width: 100%;
    margin: -10px !important;
    z-index: 10;
}

/*if fixed*/
.navbar.fixed{
    position: fixed;
}

/*Navbar links*/
.navbar-a{
    display: inline-block;
    font-size: 1.2em;
    line-height: 80px;
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: inherit;
    opacity: 0.7;
    /*float: right;*/
}
.navbar-a:hover{
    opacity: 1;
    filter:brightness(0.9);
}

/* Navbar Logo */
.navbar-logo{
    float: left;
    font-size: 1.5em;
}
.navbar-logo:hover{
    opacity: 1;
    filter: none;
}


/*a simple GRID made with Paragraphs*/
/*The main grid layout*/
div.grid{
    display: inline-block;
    height: 18px;
    cursor: pointer;
    margin: 20px;
    opacity: 0.9;
}

/*Inside Paragraphs layout*/
.g{
    width: 40px;
    height: 5px;
    margin: 0%;
    padding: 0%;
}

/*Cards layout*/
/*The main card*/
.card{
    background-color: white;
    width: 400px;
    box-shadow: 3px 3px rgba(163, 157, 157, 0.404) ;
    padding: 20px;
    border-radius: 2px / 2px;
    border: 1px rgba(211, 205, 205, 0.918) solid;
    margin: 8px;
}
.card:hover{
    box-shadow: 3px 3px rgba(163, 157, 157, 0.692) ;
}

/*The iamge inside the card*/
.card-image{
    display: inline-block;
    position: relative;
    width: inherit;
    cursor: zoom-in;
    border-radius: 3px / 3px;
    padding-bottom: 5px;
}
.card-image:hover{
    opacity: 0.95;
}

/*Mesg layout (or alerts)*/
.msg{
    border: 1px solid transparent;
    width: max-content;
    border-radius: 2px / 2px;
}

/*The x to close a Mesg*/
.x-close{
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}